body {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  color: #000;
}

img {
  width: 100%;
  height: auto;
}

.site-header {
  background-color: #f4f7f9;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.modal {
  display: none;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  align-items: center;
}

/* Заголовки на главной странице */

.index-title {
  font-size: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
}

.index-title-container {
  background-color: #f9f5f0;
  margin-bottom: 20px;;
}

.index-btn-more {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3643;
}

.index-description {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
  margin: 0;
}

/* Полоса с лого и поиском */

.top-bar {
  background-color: #293449;
  line-height: 1.06;
  min-height: 42px;
  margin-bottom: 45px;
}

.top-bar .container {
  display: flex;
  position: relative;
}

.logo {
  width: 220px;
  height: 42px;
  display: flex;
  justify-content: center;
  background-color: #ee3643;
  border-bottom: 4px solid #b52933;
  margin-bottom: -4px;
}

.logo:hover {
  background-color: #ca2c37;
}
.logo:active {
  background-color: #ba2732;
}

.logo img {
  align-self: center;
  width: 50%;
}

.search-field {
  flex-grow: 1;
}

.search {
  box-sizing: border-box;
  width: 100%;
  color: #ffffff;
  padding: 13px 0 13px 48px;
  background-color: transparent;
  border: none;
}

.search-field::before {
  content: url('../img/icon-search.svg');
  width: 17px;
  height: 17px;
  position: absolute;
  padding-left: 17px;
  padding-top: 11px;
  opacity: 0.3;
}

.search-field:hover {
  background-color: #212a3a;
}

.search-field:hover::before {
  opacity: 1;
}

input[type="search"]::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
}

input[type="search"]:-moz-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
}
input[type="search"]:-ms-input-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
}

.favorites {
  padding: 10px 33px;
  margin-right: 10px;
}

.favorites:active {
  opacity: 0.6;
  background-color: #161d29;
}

.favorites::before {
  content: url('../img/icon-bookmark.svg');
  width: 14px;
  height: 16px;
  position: absolute;
  right: 420px;
  opacity: 0.3;
}

.favorites:hover::before {
  opacity: 1;
}

.basket {
  padding: 10px 30px 10px 35px;
}

.basket:active {
  opacity: 0.6;
  background-color: #161d29;
}

.basket::before {
  content: url('../img/icon-cart.svg');
  width: 15px;
  height: 15px;
  opacity: 0.3;
  position: absolute;
  right: 267px;
}

.basket:hover::before {
  opacity: 1;
}

.top-bar a {
  font-size: 17px;
  text-decoration: none;
  color: #fff;
}

.make-order-btn {
  width: 110px;
  background-color: #63a63e;
  padding: 12px 20px;
}

.make-order-btn:hover {
  background-color: #5fbb2d;
}

.make-order-btn:active {
  opacity: 0.5;
}

/* Полоса с контактами и ЛК */

.low-bar {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.header-title {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;
  display: inline-block;
  padding-top: 4px;
  margin: 0;
  margin-left: 52px;
}

.top-contacts-container {
  text-align: center;
  padding-left: 4px;
}

.telephone {
  font-size: 21px;
  color: #ee3643;
  display: block;
  border: solid 3px #ffffff;
  padding: 8px 48px 8px 68px;
}

.telephone::before {
  content: url('../img/icon-phone.svg');
  width: 19px;
  height: 19px;
  position: absolute;
  left: 335px;
}

.address-topbar {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  display: inline-block;
  padding-top: 2px;
}

/* блок авторизации и ЛК */

.account-container {
  display: flex;
  justify-content: space-between;
}

.account {
  display: inline-block;
  width: 88%;
}

.logout-btn {
  display: inline-block;
  width: 10%;
}

.account-btn {
  font-size: 21px;
  text-decoration: none;
  color: black;
  background-color: white;
}

.account-btn:hover {
  color: #ee3643;
}

.account-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.enter-btn {
  padding: 12px 27px 12px 48px;
  margin-right: 7px;
}

.registration-btn {
  padding: 12px 25px;
}

.enter-btn::before {
  content: url('../img/icon-login.svg');
  width: 20px;
  height: 17px;
  position: absolute;
  right: 247px;
}

/* Главная навигация */

.main-nav {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  display: flex;
  justify-content: space-between;
}

.main-nav a {
  font-size: 17px;
  text-decoration: none;
  color: white;
  padding: 20px 30px;
}

.main-nav a:hover {
  background-color: #1d2739;
}

.main-nav a:active {
  color: rgba(255, 255, 255, 0.5);
}

/* Слайдер и промо */

.slider-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-slider-column {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 620px;
  justify-content: space-between;
  position: relative;
}

.right-slider-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slider-item {
  margin-bottom: 20px;
  width: 300px;
  min-height: 123px;
  position: relative;
}

.slider-item h3 {
  margin: 0;
  margin-top: 20px;
  margin-left: 22px;
  margin-bottom: 15px;
  color: white;
  font-size: 24px;
  line-height: 1.25;
}

.slider-item a {
  box-sizing: border-box;
  display: inline-block;
  min-width: 135px;
  padding: 10px 5px;
  margin-left: 25px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.slider-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-materials {
  background-color: #ffbf47;
}

.slider-materials::before {
  content: url('../img/new.png');
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
}

.slider-materials::after {
  content: url('../img/icon-1.svg');
  position: absolute;
  right: 43px;
  top: 32px;
  width: 44px;
  height: 65px;
}

.slider-tools {
  background-color: #3bbce3;
}

.slider-tools::after {
  content: url('../img/icon-2.svg');
  position: absolute;
  right: 29px;
  top: 34px;
  width: 75px;
  height: 61px;
}

.slider-technique {
  background-color: #dc91d8;
}

.slider-technique::after {
  content: url('../img/icon-3.svg');
  position: absolute;
  right: 31px;
  top: 30px;
  width: 78px;
  height: 62px;
}

.slider-sale {
  background-color: #8ed78f;
}

.slider-sale::after {
  content: url('../img/icon-4.svg');
  position: absolute;
  right: 45px;
  top: 25px;
  width: 59px;
  height: 72px;
}

.slider-shipping {
  background-color: #ffc047;
}

.slider-shipping::after {
  content: url('../img/icon-5.svg');
  position: absolute;
  right: 30px;
  top: 30px;
  width: 78px;
  height: 63px;
}

.slider-item--big {
  width: 620px;
  min-height: 266px;
  background-image: url('../img/slider-image.jpg');
}

.slider-item--big h2 {
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  margin-top: 20px;
  margin-left: 24px;
}

.slider-item--big p {
  font-size: 18px;
  line-height: 1.33;
  color: white;
  margin: 0;
  margin-left: 24px;
  position: relative;
}

.btn-slider {
  width: 22px;
  height: 40px;
  position: absolute;
  border: none;
}

.slider-prev {
  background: url('../img/icon-left.svg');
  top: 114px;
  left: 25px;
}

.slider-next {
  background: url('../img/icon-right.svg');
  top: 114px;
  right: 20px;
}

.slider-item--big .slider-link {
  min-width: 195px;
  background-color: #ee3643;
  margin: 0;
  position: absolute;
  bottom: 21px;
  left: 27px;
}

.slider-item--big .slider-link:hover {
  background-color: #ca2c37;
}

.slider-item--big .slider-link:active {
  background-color: #ba2732;
}

.dots-container {
  position: absolute;
  bottom: 33px;
  left: 294px;
}

.slider-dot {
  width: 14px;
  height: 13px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #fff;
}

.dot-active {
  background-color: #ee3643;
}


/* Популярные товары и стили каталога */

.popular-products {
  margin-bottom: 20px;
}

.catalog-item-container {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  flex-basis: 218px;
  border: solid 1px #eaeaea;
  font-family: 'PT Sans', Arial, sans-serif;
}

.catalog-item-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
}

.catalog-item-price {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  text-align: center;
  color: #999999;
}

.catalog-item del {
  display: block;
}

.catalog-item-price-btn {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #ee3643;
  display: block;
}

/* Популярные производители */

.makers-item-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 75px;
}

.makers-item {
  flex-basis: 220px;
  min-height: 145px;
  border: solid 1px #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Сервисы */

.services {
  background-color: #f4f7f9;
  padding-bottom: 100px;
}

.services .about-title {
  padding-top: 68px;
  margin-bottom: 38px;
}

.about-title {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

.services-selector {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 74px;
  display: inline-block;
}

.services-selector li {
  padding-left: 20px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  color: #ffffff;
  background-color: #32425c;
  width: 240px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
}

.services-selector .services-selector-current {
  background-color: white;
  color: #32425c;
  border-top: none;
}

.services-slide {
  display: inline-block;
  padding-left: 80px;
}

.services-slide h3 {
  text-transform: uppercase;
  font-size: 36px;
  color: #32425c;
  font-weight: normal;
  margin: 0;
  margin-bottom: 34px;
}

/* Раздел Контактов и о компании */

.about-contacts {
  padding-top: 80px;
  padding-bottom: 85px;
  display: flex;
  justify-content: space-between;
}

.about-contacts .index-description {
  margin-top: 36px;
}

.about-shipping-company-list {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  list-style: none;
}

.about-shipping-company-list li {
  margin-top: 24px;
  padding-left: 35px;
}

.about-btn {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #ee3643;
  text-transform: uppercase;
}

.add-favorites-btn {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #32425c;
}

.contacts {
  flex-basis: 300px;
  align-self: stretch;
}

.contacts .about-title {
  margin-bottom: 39px;
}

.contacts-map {
  display: block;
  margin-top: 36px;
  margin-bottom: 40px;
}

.about-shipping-company-list li {
  font-size: 18px;
  line-height: 1.11;
  color: #000000;
}

/* Подвал */

.footer-navigation .container {
  display: flex;
  justify-content: space-between;
  min-height: 68px;
}

.footer-navigation {
  background-color: #32425c;
  line-height: 1.33;
}

.footer-navigation-bar a {
  text-decoration: none;
  color: #f1f5f7;
  font-size: 18px;
  padding-right: 60px;
}

.footer-navigation-bar a:last-child {
  padding-right: 0;
}

.contacts-footer {
  color: #f3f7f9;
  font-size: 18px;
}

.footer-special a {
  color: #ffd180;
  font-size: 18px;
  text-decoration: none;
  padding-right: 60px;
}

.footer-special a:last-child {
  padding-right: 0;
}

/* самый нижний футер */

.footer-contacts {
  color: white;
  font-size: 16px;
  line-height: 1.13;
  background-color: #293449;
}

.footer-contacts b {
  font-weight: normal;
}

.footer-contacts .container{
  display: flex;
  justify-content: space-between;
}

.feedback-footer {
  font-size: 16px;
  color: white;
}

.feedback-footer span {
  color: #ffd180;
}

.developed-footer {
  font-size: 16px;
  color: white;
}

.developed-footer a {
  color: #ffd180;
  text-decoration: none;
}

/* стили каталога */

.account {
  font-size: 21px;
  text-decoration: none;
  color: #000;
}

.orders,
.account-link {
  font-size: 16px;
  line-height: 1.13;
  color: #32425c;
}

/* Хлебные крошки */

.breadcrumbs {
  margin: 25px 0;
}

.breadcrumbs a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-title {
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
  padding: 32px 0 32px 30px;
  background-color: #f2f6f8;
}

.filters {
  flex-basis: 220px;
}

.main-catalog-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.main-catalog-container .catalog-item {
  margin-bottom: 20px;
}

.catalog-container {
  font-family: 'PT Sans', Arial, sans-serif;
  flex-basis: 700px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters-title {
  font-family: 'PT Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.38;
  font-weight: normal;
  background-color: #f7f3ec;
  margin: 0;
  padding: 14px 0 15px 18px;

}

.filter-brand legend,
.filter-energy legend {
  font-family: 'PT Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.76;
}

.filter-brand label,
.filter-energy label {
  font-size: 15px;
  line-height: 1.3;
  font-family: 'PT Sans', Arial, sans-serif;
  display: block;
}

.filter-brand input {
  display: none;
}

.filter-show-btn {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
}

.paginator {
  margin-top: 50px;
}

.paginator a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  border: solid 1px #e5e5e5;
  margin-right: 10px;
}

.paginator .paginator-current{
  background-color: #ee3643;
  color: #ffffff;
}

.few-words {
  padding: 67px 0 73px 0;
  background-color: #f4f7f9;
}

.hovered {
  display: none;
}
